@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #050505;
    overflow: hidden;
    font-family: 'VT323', monospace;
    user-select: none;
}

canvas {
    display: block;
    cursor: none;
    /* Свой курсор */
}

#start-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0f0;
    font-size: 32px;
    text-align: center;
    pointer-events: none;
    text-shadow: 0 0 10px #0f0;
    animation: pulse 2s infinite;
    z-index: 100;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}